<section class="hero-favorites-section unvisible">
    <div class="hero-favorites-container container">
        <div class="hero-favorites-img">
            <picture>
                <source media="(max-width: 767px)" 
                        srcset="
                            ./images/card-m.webp     1x,
                            ./images/card-m-2x.webp  2x
                        " 
                        type="image/webp" />
                <source media="(max-width: 767px)" 
                        srcset="
                            ./images/card-m.jpg      1x,
                            ./images/card-m-2x.jpg   2x
                        " />
                <source media="(max-width: 1279px)" 
                        srcset="
                            ./images/card-t.webp     1x,
                            ./images/card-t-2x.webp  2x
                        " 
                        type="image/webp" />
                <source media="(max-width: 1279px)" 
                        srcset="
                            ./images/card-t.jpg      1x,
                            ./images/card-t-2x.jpg   2x
                        " />
                <source media="(min-width: 1280px)" 
                        srcset="
                            ./images/card-d.webp     1x,
                            ./images/card-d-2x.webp  2x
                        " 
                        type="image/webp" />
                <source media="(min-width: 1280px)" 
                        srcset="
                            ./images/card-d.jpg      1x,
                            ./images/card-d-2x.jpg   2x
                        " />
                <img src="./images/card-m.jpg" alt="dish" class="hero-dish-img" />
            </picture>
        </div>
    </div>
</section>
