<main>
  <include src="./components/favorites/hero.html"></include>

  <section class="empty-favorite-list-section">
    <div class="empty-favorite-list-container">
      <div class="favorite-icon-box">
        <img class="favorite-icon" src="./images/svgs/favorites.svg" alt="cooking-icon" />
      </div>
      <p class="empty-favorite-list">
        It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that
        you like to your favorites for easier access in the future.
      </p>
    </div>
  </section>

  <section class="favorite-categories-section is-hidden">
    <div class="favorite-categories-container">
      <div class="favorite-categories-box">
      </div>
    </div>
  </section>

  <section class="favorite-cards-section is-hidden">
    <div class="favorite-cards-container">
      <ul class="favorite-cards-list">
        <div class="favorite-cards-box"></div>
      </ul>
    </div>
    <include src="./components/favorites/pagination-fav.html"></include>
  </section>
</main> 
