<main>
  <include src="./components/favorites/hero.html"></include>

  <section class="empty-favorite-list-section">
    <div class="empty-favorite-list-container container">
      <div class="favorite-icon-box">
        <img class="favorite-icon" src="./images/svgs/favorites.svg" alt="cooking-icon" />
      </div>
      <p class="empty-favorite-list">
        It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that
        you like to your favorites for easier access in the future.
      </p>
    </div>
  </section>

  <section class="favorite-categories-section">
    <div class="favorite-categories-container container">
      <div class="favorite-categories-box">
        <!-- <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All</button>
        <button type="button" class="favorite-categories-btn">Cakes</button>
        <button type="button" class="favorite-categories-btn">Breakfast</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button>
        <button type="button" class="favorite-categories-btn">All categories</button> -->
      </div>
    </div>
  </section>

  <section class="favorite-cards-section is-hidden">
    <div class="favorite-cards-container container">
      <ul class="favorite-cards-list">
        <!-- <li class="box"></li>
        <li class="box"></li>
        <li class="box"></li>
        <li class="box"></li>
        <li class="box"></li> -->
      </ul>
    </div>
  </section>
</main>
