@use './globals';

.filters-and-cards__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
  }
}

.filters {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  & .search-filter__wrapper {
    position: relative;
  }

  //tablet
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;

  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 48px;

  color: $primery-text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  &::placeholder {
    color: rgba(5, 5, 5, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &:focus-visible {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    + .search-input-button .search-icon {
      fill: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 46px;
  }

  //tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;

    height: 48px;
  }
}

.search-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  border: none;
  background-color: transparent;

  & .search-icon {
    fill: #050505;
    opacity: 0.5;

    width: 18px;
    height: 18px;

    transition: fill $typical-transition;
  }
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 767px) {
    width: 160px;

    &.search {
      width: 100%;
    }

    &.ingredients {
      width: 188px;
    }
  }
}

.filters p {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.ss-main {
  display: flex;
  align-items: center;
}

.ss-main .ss-values .ss-single {
  margin: 0;
}

// selects
.time-select {
  width: 125px;
  height: 46px;
  padding: 14px 18px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: $primery-text-color;

  &.ss-main .ss-values .ss-placeholder {
    color: rgba(5, 5, 5, 0.5);
    padding: 3 0;
  }

  // font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28px;
  transition: color $typical-transition;

  &.ss-content {
    height: 128px;

    @media screen and (max-width: 767px) {
      height: 124px;
    }
  }

  @media screen and (max-width: 767px) {
    width: 160px;
  }

  //tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;

    height: 48px;
  }
}

.area-select {
  width: 141px;
  height: 46px;
  padding: 14px 18px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: $primery-text-color;

  &.ss-main .ss-values .ss-placeholder {
    color: rgba(5, 5, 5, 0.5);
    padding: 3 0;
  }

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28px;
  transition: color $typical-transition;

  &:hover,
  &:focus {
    color: $primery-text-color;
  }

  @media screen and (max-width: 767px) {
    width: 160px;
  }

  //tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;

    height: 48px;
  }
}

.ingredients-select {
  width: 188px;
  height: 46px;
  padding: 14px 18px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: $primery-text-color;

  &.ss-main .ss-values .ss-placeholder {
    color: rgba(5, 5, 5, 0.5);
    padding: 3 0;
  }

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28px;
  transition: color $typical-transition;

  &:hover,
  &:focus {
    color: $primery-text-color;
  }

  //tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.filters-and-button__wrapper {
  display: flex;
  flex-direction: column;

  gap: 14px;
  margin-bottom: 14px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.reset-button {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;

  border: none;
  background-color: transparent;

  transition: color $typical-transition;

  &:hover {
    color: $primery-text-color;
  }
}

.ss-main:focus {
  box-shadow: none;
}

.ss-content.ss-open-below {
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 18px;
  border-radius: 14px;
  border: transparent;
  background: #fff;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  top: 50%;
  border-radius: 15px;
}
.ss-content.ss-open-above {
  border-radius: 15px;
}

.ss-main.ss-open-below {
  border-radius: 15px;
}
.ss-main.ss-open-above {
  border-radius: 15px;
}

.ss-content .ss-search {
  display: none;
}

.ss-content .ss-list .ss-option {
  padding: 4px 0;
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;

  transition: color $typical-transition;
}

.ss-content .ss-list .ss-option:hover,
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: $primery-text-color;
  background-color: transparent;
}

.ss-content {
  height: 188px;

  @media screen and (max-width: 767px) {
    height: 176px;
  }
}

.ss-list {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(5, 5, 5, 0.18);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 10;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &::before {
    content: '';
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid $accent-color;
    animation: prixClipFix 2s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
