@import '/node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #fff;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.two {
    font-weight: 500;
}
.three {
    font-weight: 600;
}