@import '/node_modules/modern-normalize/modern-normalize.css';

$primery-background-color: #f8f8f8;
$primery-text-color: #050505;
$primery-text-color-transparent: rgba(5, 5, 5, 0.502);
$accent-color: #9bb537;
$stars-color: #eea10c;
$secondary-background-color: #161616;
$secondary-text-color: #ffffff;
$typical-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

html {
  scroll-behavior: smooth;
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    // background-color: #fff;
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1280) {
    width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
