@use './globals';

//style version with updated mobile menu//
// Must be chosen in case of conflict//
.no-scroll {
  overflow: hidden;
}

.hideBtn {
  display: none;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  margin-right: 16px;
}

.header-link {
  display: block;
  padding: 28px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $primery-text-color;
  transition: color globals.$typical-transition;
}

.header-link:hover,
.header-link:focus {
  color: globals.$accent-color;
}

.logo {
  padding: 28px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: -0.72px;

  color: globals.$accent-color;
}

.header-logo {
  padding: 28px 0;
  color: globals.$primery-text-color;
  transition: color globals.$typical-transition;
}

.header-logo:hover,
.header-logo:focus {
  color: globals.$accent-color;
}

.btns-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buy-btn {
  border: none;
  background: none;
  padding: 24px 0;
  fill: transparent;
  stroke: globals.$primery-text-color;
  width: 24px;
  height: 72px;
  transition: stroke globals.$typical-transition;
}

.buy-btn:hover,
.buy-btn:focus {
  stroke: globals.$accent-color;
}

/* ...............TOGGLE BTN......... */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cecdcd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  background-color: globals.$primery-background-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: globals.$accent-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*.............................MOBILE MENU.......................*/
.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 20px 0;
  width: 32px;
  height: 72px;
  stroke: globals.$primery-text-color;
  transition: stroke globals.$typical-transition;
}
.menu-open-btn:hover,
.menu-open-btn:focus {
  stroke: globals.$accent-color;
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: rgba(156, 181, 55, 0.341);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity globals.$typical-transition, visibility globals.$typical-transition;
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;

  height: 100vh;
  width: 200px;

  overflow: auto;
  background-color: globals.$accent-color;

  transform: translateX(100%);
  transition: transform globals.$typical-transition;
}

.mobile-menu-backdrop.is-open .mobile-menu {
  transform: translateX(0);
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;

  stroke: globals.$primery-background-color;
  border: none;
  background: none;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 200px;
}

.mobile-menu-link {
  display: block;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: $primery-background-color;
}

.toggle-switch-mobile {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .toggle-switch {
    display: none;
  }
  .slider {
    border: 1px solid #cecdcd;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
  .logo {
    font-size: 18px;
    line-height: 1.1;
  }
  .menu-open-btn,
  .mobile-menu {
    display: none;
  }
  .btns-wrap {
    gap: 18px;
  }
  .slider:before {
    left: 1px;
    bottom: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    padding: 40px 0;
  }
  .btns-wrap {
    gap: 24px;
  }
}

.current {
  color: globals.$accent-color;
  @media screen and (max-width: 768px) {
    font-weight: 500;
    color: globals.$secondary-text-color;
  }
}
