@use './globals';

.is-hidden {
  display: none;
}

.hero-favorites-section {
  padding-top: 23.5px;
}

.hero-favorites-container {
  display: flex;
  justify-content: center;
}

.hero-favorites-img{
  border-radius: 18px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .hero-favorites-section.unvisible {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero-favorites-section {
    padding-top: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-favorites-section {
    padding-top: 0;
  }
}
