@use './globals';
@import '../../node_modules/swiper/swiper-bundle.css';

.swiper {
  --swiper-pagination-color: #9bb537;
  --swiper-pagination-bullet-inactive-color: #050505;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 2px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  max-width: 870px;
  max-height: 480px;
}

.hero {
  display: flex;
  flex-direction: row;

  padding-top: 70px;
  overflow: visible;
}

.hero_section_content {
  width: 446px;
  margin-right: 0;
}
.hero_title {
  font-family: inherit;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 16px;
}
.hero_title_style {
  font-style: italic;
  color: $accent-color;
  font-weight: 400;
}
.hero_text {
  min-width: 335px;
  font-family: inherit;
  font-weight: 400;

  margin-bottom: 32px;
}
.hero_button {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  width: 127px;
  height: 45px;
  border-radius: 15px;
  background: transparent;
  border: 1 solid $accent-color;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button a {
  color: $primery-text-color;
  text-decoration: none;
}
.hero_button:hover a,
.hero_button:hover a {
  color: $primery-background-color;
}

.hero_button:hover,
.hero_button:focus {
  background-color: $accent-color;
}

.hero_section_slider {
  display: flex;
  flex-direction: row;
}
.swiper-slide {
  width: 870px;
  height: 468px;
  display: flex;
  flex-direction: row;

  gap: 16px;
  overflow: hidden;
}

.slider_card_cheef {
  position: relative;
  display: flex;
  width: 136px;
  height: 440px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: $primery-text-color;
  overflow: hidden;
}

.slider_card_dish_introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 440px;
  background-color: $primery-text-color;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider_card_dish_view {
  position: relative;
  display: flex;
  width: 350px;
  height: 440px;
  background-color: $primery-text-color;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}

.slider_card_cheef_photo {
  position: absolute;
  min-width: 400px;
  right: -150px;
}

.slider_card_dish_introduction_photo {
  position: relative;
  width: 320px;
  margin-bottom: 32px;
}

.slider_card_dish_view_photo {
  position: absolute;
  min-width: 500px;
}

.slider_card_dish_description_name {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 8px 0;
  color: $primery-background-color;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: center;
}

.slider_card_dish_country_area {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  color: $primery-background-color;
  opacity: 0.2;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 375px;
    overflow: hidden;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 80px;
  }
  .swiper {
    position: relative;
    width: 500px;
    min-height: 307px;

    --swiper-pagination-bullet-size: 8px;
  }
  .hero_section_content {
    width: 375px;
  }

  .hero_title_style {
    font-size: 26px;
    font-weight: 400;
  }

  .hero_title {
    width: 335px;
    font-family: inherit;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 14px;
  }

  .hero_text {
    width: 335px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 28px;
  }
  .hero_button {
    width: 110px;
    height: 37px;
    margin-bottom: 48px;
  }

  .swiper-slide {
    width: 496px;
    height: 302px;
    gap: 8px;
  }

  .slider_card_cheef {
    width: 80px;
    height: 280px;
  }

  .slider_card_dish_introduction {
    width: 200px;
    height: 280px;
  }

  .slider_card_dish_view {
    width: 200px;
    height: 280px;
  }

  .slider_card_dish_description_name {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 10px;
    margin: 0 0 4px 0;
  }

  .slider_card_dish_country_area {
    font-size: 12px;
  }

  .slider_card_cheef_photo {
    min-width: 290px;
    right: -110px;
  }

  .slider_card_dish_introduction_photo {
    width: 200px;
    margin-bottom: 30px;
  }

  .slider_card_dish_view_photo {
    margin-left: -50;
    min-width: 300px;
  }
}
.swiper-pagination-bullet {
  position: absolute;
  right: 13%;
}
.swiper-pagination > * {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .swiper {
    width: 868px;
    height: 500px;
  }

  .hero {
    margin: 0 auto;
    width: 768px;
    overflow: hidden;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 100px;
  }
  .hero_section_content {
    width: 446px;
  }

  .hero_title {
    width: 446px;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 16px;
    margin-right: 0px;
  }
  .hero_title_style {
    font-size: 36px;
  }
  .hero_text {
    width: 335px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 28px;
    margin-right: 0px;
  }
  .hero_button {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    width: 110px;
    height: 36px;
    border-radius: 15px;
    background: transparent;
    border: 1 solid $accent-color;
    margin-bottom: 64px;
  }

  .slider_card_cheef {
    min-width: 136px;
    min-height: 440px;
  }

  .slider_card_dish_introduction {
    min-width: 350px;
    min-height: 440px;
  }

  .slider_card_dish_view {
    min-width: 350px;
    min-height: 440px;
  }

  .slider_card_cheef_photo {
    min-width: 400px;
    right: -130px;
  }

  .slider_card_dish_introduction_photo {
    width: 320px;
    margin-bottom: 32px;
  }

  .slider_card_dish_view_photo {
    min-width: 500px;
    right: -60px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    width: 1280px;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-top: 60px;
  }

  .hero_section_content {
    width: 446px;
  }
  .hero_title {
    width: 446px;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 16px;
  }

  .hero_text {
    width: 408px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .hero_button {
    font-weight: 500;
    font-size: 14px;
    width: 127px;
    height: 45px;
  }

  .swiper {
    min-width: 868px;
    height: 500px;
  }

  .swiper-slide {
    flex-direction: row;
    gap: 16px;
  }

  .slider_card_cheef {
    min-width: 136px;
    height: 440px;
  }

  .slider_card_dish_introduction {
    min-width: 350px;
    height: 440px;
  }

  .slider_card_dish_view {
    min-width: 350px;
    height: 440px;
  }

  .slider_card_dish_view_photo {
    min-width: 500px;
    right: -60px;
  }
}
