@use './globals';

.is-hidden {
  display: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  background-color: rgba(24, 23, 23, 0.767);
  // background-image: url(https://pixabay.com/vectors/tesla-model-s-transportation-4244792/);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 51;
  overflow: auto;

  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;

  &.is-hidden {
    transition: opacity 1000ms linear, visibility 300ms linear;
  }
}

.modal-iframe {
  //   user-select: none;
  //   pointer-events: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.modal-img {
  border-radius: 8px;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-img-tumb {
  margin-bottom: 15px;
  width: 295px;
  height: 295px;

  @media screen and (min-width: 768px) {
    width: 467px;
    height: 250px;
    margin-bottom: 15px;
  }
}
.modal-recipe-container {
  position: relative;

  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 335px;
  height: auto;
  margin: auto;

  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  background-color: $secondary-text-color;
  text-align: left;
  // position: fixed;

  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%) scale(0.65) rotate(0);

  @media screen and (min-width: 768px) {
    width: 531px;
    height: auto;
    padding: 32px;
  }
}

.modal-card-name {
  color: $primery-text-color;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.33;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    line-height: 1.22;
    margin-bottom: 16px;
  }
}
.is-hidden-component {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.not-hidden-component {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.item-tags-style {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  width: auto;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 8px 16px;
  border-radius: 35px;
  margin-right: 8px;
}

.modal-card-attributes {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
  margin-bottom: 33px;
}
.attributes-tags-style-mobile {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  margin-bottom: 24px;
}
.rating-value {
  margin-right: 6px;
}
.modal-card-rating-value {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;

  color: rgba(5, 5, 5, 0.5);
}
.modal-card-ingredients-block {
  margin-bottom: 41px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.modal-card-ingredients {
  display: block;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.modal-card-ingredients-item {
  min-height: 24px;
  display: flex;

  justify-content: space-between;
  border: 1px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(5, 5, 5, 0.2);
}
.ingredients-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $primery-text-color;
}
.ingredients-measure {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: right;
  color: rgba(5, 5, 5, 0.5);
}
.modal-card-about-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(5, 5, 5, 0.8);
  margin-bottom: 0px;
}

.close-button {
  // background: none;
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 1px 3px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 2.5px;
  text-align: center;
  background-color: $secondary-text-color;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }
}

.close-button:hover {
  background-color: $accent-color;
}
// .close-button .close-icon {
//   stroke: $primery-text-color;

//   &:hover {
//     stroke: $accent-color;
//   }
// }

.modal-card-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(14 / 12);
  min-width: 148px;
  color: $primery-background-color;
  padding: 12px 24px;
  border-radius: 15px;
  background-color: $accent-color;
  border: 1px solid;
  border-color: $accent-color;

  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 14px 28px;
    min-width: 156px;
    line-height: calc(16 / 12);
  }
  &:hover {
    background-color: $primery-background-color;
    color: $accent-color;
    border: 1 px $accent-color;
  }
}

.modal-card-info-wrap {
  max-height: 700px;
  overflow-y: auto;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    max-height: 600px;
    margin-bottom: 32px;
  }
}
.star-wrap {
  display: flex;
  flex-wrap: wrap;
}
.star-wrap-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  gap: 2px;
  margin-right: 6px;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(5, 5, 5, 0.1);

  width: 18px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.star.filled {
  fill: $stars-color;
  opacity: 1;
}
