.is-hidden {
  display: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(24, 23, 23, 0.767);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 51;
  overflow: auto;

  &.is-hidden {
    transition: opacity 1000ms linear, visibility 300ms linear;
  }
}
.modal-iframe {
  //   user-select: none;
  //   pointer-events: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.modal-img {
  border-radius: 8px;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-img-tumb {
  margin-bottom: 15px;
  width: 295px;
  height: 295px;

  @media screen and (min-width: 768px) {
    width: 467px;
    height: 250px;
    margin-bottom: 15px;
  }
}
.modal-recipe-container {
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 335px;
  height: 600px;

  display: block;
  //   flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  // z-index: 10;
  background-color: rgb(224, 207, 207);

  text-align: left;

  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);

  @media screen and (min-width: 768px) {
    width: 531px;
    height: 600px;
    padding: 32px;
    // display: flex;

    // justify-content: space-between;
    // align-items: flex-start;
    // flex-wrap: nowrap;
    // gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    // display: flex;
  }
}
.modal-card-name {
  color: rgba(5, 5, 5, 1);
  //   align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.24;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    line-height: 1.22;
    margin-bottom: 16px;
  }
}
.is-hidden-component {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.not-hidden-component {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.close-button {
  background: none;
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 1px 3px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }
}
.close-icon {
  stroke: rgba(5, 5, 5, 1);
  &:hover {
    stroke: rgba(5, 5, 5, 0.46);
  }
}
