@use './globals';

.pag-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container.pagination {
  margin-top: 64px;
}

.tui-pagination {
  width: auto;
  height: auto;
  margin: 0;
  display: flex;
}

.tui-page-btn.hover-class {
  transition: background-color 500ms;
  &:hover {
    background-color: globals.$accent-color;
  }
}

.tui-pagination .tui-page-btn {
  font-size: 18px;
  font-weight: bold;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(5, 5, 5, 0.3);
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: currentColor;
    &:active {
      color: currentColor;
    }
  }
}
.tui-pagination .tui-first-child.tui-is-selected {
  border: none;
}
.tui-pagination .tui-is-selected,
.tui-pagination .tui-last-child.tui-is-selected {
  color: black;
  position: relative;
  border: none;
  background-color: globals.$accent-color;
  pointer-events: none;
}

.text {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tui-pagination .tui-last,
.tui-pagination .tui-next,
.tui-pagination .tui-first,
.tui-pagination .tui-prev {
  border: none;
  background-color: globals.$accent-color;
  background-repeat: no-repeat;
}

.tui-last {
  background-position: 60%;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.145 5.094a.995.995 0 0 0-.541 1.301c.055.132.838.952 2.504 2.621 1.667 1.669 2.45 2.488 2.504 2.62.044.106.08.275.08.377 0 .101-.036.27-.08.376-.054.132-.837.951-2.504 2.62-1.666 1.669-2.449 2.489-2.504 2.621-.266.645.223 1.383.917 1.383.407 0 .587-.156 3.142-2.724 2.201-2.213 2.475-2.506 2.645-2.835.254-.491.347-.879.347-1.442 0-.562-.093-.95-.347-1.441-.17-.329-.444-.622-2.645-2.835-2.57-2.584-2.737-2.727-3.154-2.722a1.13 1.13 0 0 0-.364.08m6.934.028a1.084 1.084 0 0 0-.579.921c0 .379.198.604 2.593 2.959 1.279 1.258 2.381 2.382 2.449 2.498.173.294.173.731 0 1.025-.069.116-1.172 1.24-2.451 2.498-2.53 2.488-2.637 2.615-2.577 3.062.091.673.741 1.088 1.344.858.175-.067.735-.601 2.761-2.629l2.541-2.545.204-.439c.433-.935.433-1.7 0-2.635l-.204-.439-2.516-2.525C17.95 6.032 17.06 5.175 16.921 5.11a.951.951 0 0 0-.842.012' fill='%23050505' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.tui-next {
  background-position: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4001 12.71C13.4939 12.617 13.5683 12.5064 13.619 12.3846C13.6698 12.2627 13.6959 12.132 13.6959 12C13.6959 11.868 13.6698 11.7373 13.619 11.6154C13.5683 11.4936 13.4939 11.383 13.4001 11.29L8.81014 6.71C8.71641 6.61704 8.64202 6.50644 8.59125 6.38458C8.54048 6.26272 8.51434 6.13201 8.51434 6C8.51434 5.86799 8.54048 5.73728 8.59125 5.61542C8.64202 5.49356 8.71641 5.38296 8.81014 5.29C8.9975 5.10375 9.25095 4.99921 9.51514 4.99921C9.77933 4.99921 10.0328 5.10375 10.2201 5.29L14.8101 9.88C15.3719 10.4425 15.6875 11.205 15.6875 12C15.6875 12.795 15.3719 13.5575 14.8101 14.12L10.2201 18.71C10.0339 18.8948 9.78248 18.9989 9.52014 19C9.38853 19.0008 9.25807 18.9756 9.13623 18.9258C9.0144 18.876 8.90358 18.8027 8.81014 18.71C8.71641 18.6171 8.64202 18.5065 8.59125 18.3846C8.54048 18.2627 8.51434 18.132 8.51434 18C8.51434 17.868 8.54048 17.7373 8.59125 17.6154C8.64202 17.4936 8.71641 17.383 8.81014 17.29L13.4001 12.71Z' fill='%23050505'/%3E%3C/svg%3E%0A");
}
.tui-first {
  background-position: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' viewBox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 11.29C10.5061 11.383 10.4317 11.4936 10.381 11.6155C10.3302 11.7373 10.3041 11.868 10.3041 12C10.3041 12.1321 10.3302 12.2628 10.381 12.3846C10.4317 12.5065 10.5061 12.6171 10.5999 12.7101L15.1899 17.2901C15.2836 17.383 15.358 17.4936 15.4088 17.6155C15.4595 17.7373 15.4857 17.868 15.4857 18.0001C15.4857 18.1321 15.4595 18.2628 15.4088 18.3846C15.358 18.5065 15.2836 18.6171 15.1899 18.7101C15.0025 18.8963 14.749 19.0009 14.4849 19.0009C14.2207 19.0009 13.9672 18.8963 13.7799 18.7101L9.18986 14.1201C8.62806 13.5576 8.3125 12.7951 8.3125 12C8.3125 11.205 8.62806 10.4425 9.18986 9.88005L13.7799 5.29004C13.9661 5.10529 14.2175 5.00114 14.4799 5.00004C14.6115 4.99928 14.7419 5.0245 14.8638 5.07427C14.9856 5.12403 15.0964 5.19736 15.1899 5.29004C15.2836 5.383 15.358 5.4936 15.4088 5.61546C15.4595 5.73732 15.4857 5.86803 15.4857 6.00004C15.4857 6.13205 15.4595 6.26276 15.4088 6.38462C15.358 6.50648 15.2836 6.61708 15.1899 6.71004L10.5999 11.29Z' fill='%23050505'/%3E%3Cpath d='M17.5999 11.29C17.5061 11.383 17.4317 11.4936 17.381 11.6155C17.3302 11.7373 17.3041 11.868 17.3041 12C17.3041 12.1321 17.3302 12.2628 17.381 12.3846C17.4317 12.5065 17.5061 12.6171 17.5999 12.7101L22.1899 17.2901C22.2836 17.383 22.358 17.4936 22.4088 17.6155C22.4595 17.7373 22.4857 17.868 22.4857 18.0001C22.4857 18.1321 22.4595 18.2628 22.4088 18.3846C22.358 18.5065 22.2836 18.6171 22.1899 18.7101C22.0025 18.8963 21.749 19.0009 21.4849 19.0009C21.2207 19.0009 20.9672 18.8963 20.7799 18.7101L16.1899 14.1201C15.6281 13.5576 15.3125 12.7951 15.3125 12C15.3125 11.205 15.6281 10.4425 16.1899 9.88005L20.7799 5.29004C20.9661 5.10529 21.2175 5.00114 21.4799 5.00004C21.6115 4.99928 21.7419 5.0245 21.8638 5.07427C21.9856 5.12403 22.0964 5.19736 22.1899 5.29004C22.2836 5.383 22.358 5.4936 22.4088 5.61546C22.4595 5.73732 22.4857 5.86803 22.4857 6.00004C22.4857 6.13205 22.4595 6.26276 22.4088 6.38462C22.358 6.50648 22.2836 6.61708 22.1899 6.71004L17.5999 11.29Z' fill='%23050505'/%3E%3C/svg%3E ");
}
.tui-prev {
  background-position: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 11.29C10.5061 11.383 10.4317 11.4936 10.381 11.6154C10.3302 11.7373 10.3041 11.868 10.3041 12C10.3041 12.132 10.3302 12.2627 10.381 12.3846C10.4317 12.5064 10.5061 12.617 10.5999 12.71L15.1899 17.29C15.2836 17.383 15.358 17.4936 15.4088 17.6154C15.4595 17.7373 15.4857 17.868 15.4857 18C15.4857 18.132 15.4595 18.2627 15.4088 18.3846C15.358 18.5064 15.2836 18.617 15.1899 18.71C15.0025 18.8963 14.749 19.0008 14.4849 19.0008C14.2207 19.0008 13.9672 18.8963 13.7799 18.71L9.18986 14.12C8.62806 13.5575 8.3125 12.795 8.3125 12C8.3125 11.205 8.62806 10.4425 9.18986 9.87999L13.7799 5.28999C13.9661 5.10524 14.2175 5.00109 14.4799 4.99998C14.6115 4.99922 14.7419 5.02445 14.8638 5.07421C14.9856 5.12398 15.0964 5.1973 15.1899 5.28999C15.2836 5.38295 15.358 5.49355 15.4088 5.61541C15.4595 5.73727 15.4857 5.86797 15.4857 5.99999C15.4857 6.132 15.4595 6.2627 15.4088 6.38456C15.358 6.50642 15.2836 6.61702 15.1899 6.70999L10.5999 11.29Z' fill='%23050505'/%3E%3C/svg%3E ");
}
.tui-page-btn.tui-is-disabled {
  background-color: globals.$primery-text-color;
  pointer-events: none;
}
.tui-is-disabled.tui-first {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' viewBox='0 0 31 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.617 10.4317 12.5064 10.381 12.3846C10.3302 12.2627 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6154C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71C15.2836 6.61704 15.358 6.50644 15.4088 6.38458C15.4595 6.26272 15.4857 6.13201 15.4857 6C15.4857 5.86799 15.4595 5.73728 15.4088 5.61542C15.358 5.49356 15.2836 5.38296 15.1899 5.29C15.0025 5.10375 14.749 4.99921 14.4849 4.99921C14.2207 4.99921 13.9672 5.10375 13.7799 5.29L9.18986 9.88001C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.876 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2627 15.4857 18.132 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6154C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3Cpath d='M17.5999 12.71C17.5061 12.617 17.4317 12.5064 17.381 12.3846C17.3302 12.2627 17.3041 12.132 17.3041 12C17.3041 11.868 17.3302 11.7373 17.381 11.6154C17.4317 11.4936 17.5061 11.383 17.5999 11.29L22.1899 6.71C22.2836 6.61704 22.358 6.50644 22.4088 6.38458C22.4595 6.26272 22.4857 6.13201 22.4857 6C22.4857 5.86799 22.4595 5.73728 22.4088 5.61542C22.358 5.49356 22.2836 5.38296 22.1899 5.29C22.0025 5.10375 21.749 4.99921 21.4849 4.99921C21.2207 4.99921 20.9672 5.10375 20.7799 5.29L16.1899 9.88001C15.6281 10.4425 15.3125 11.205 15.3125 12C15.3125 12.795 15.6281 13.5575 16.1899 14.12L20.7799 18.71C20.9661 18.8948 21.2175 18.9989 21.4799 19C21.6115 19.0008 21.7419 18.9756 21.8638 18.9258C21.9856 18.876 22.0964 18.8027 22.1899 18.71C22.2836 18.6171 22.358 18.5065 22.4088 18.3846C22.4595 18.2627 22.4857 18.132 22.4857 18C22.4857 17.868 22.4595 17.7373 22.4088 17.6154C22.358 17.4936 22.2836 17.383 22.1899 17.29L17.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.tui-is-disabled.tui-prev {
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.617 10.4317 12.5064 10.381 12.3846C10.3302 12.2627 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6154C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71C15.2836 6.61704 15.358 6.50644 15.4088 6.38458C15.4595 6.26272 15.4857 6.13201 15.4857 6C15.4857 5.86799 15.4595 5.73728 15.4088 5.61542C15.358 5.49356 15.2836 5.38296 15.1899 5.29C15.0025 5.10375 14.749 4.99921 14.4849 4.99921C14.2207 4.99921 13.9672 5.10375 13.7799 5.29L9.18986 9.88001C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.876 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2627 15.4857 18.132 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6154C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/svg%3E ");
}
.tui-is-disabled.tui-last {
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='24' viewBox='0 0 31 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.617 10.4317 12.5064 10.381 12.3846C10.3302 12.2627 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6154C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71C15.2836 6.61704 15.358 6.50644 15.4088 6.38458C15.4595 6.26272 15.4857 6.13201 15.4857 6C15.4857 5.86799 15.4595 5.73728 15.4088 5.61542C15.358 5.49356 15.2836 5.38296 15.1899 5.29C15.0025 5.10375 14.749 4.99921 14.4849 4.99921C14.2207 4.99921 13.9672 5.10375 13.7799 5.29L9.18986 9.88001C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.876 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2627 15.4857 18.132 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6154C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3Cpath d='M17.5999 12.71C17.5061 12.617 17.4317 12.5064 17.381 12.3846C17.3302 12.2627 17.3041 12.132 17.3041 12C17.3041 11.868 17.3302 11.7373 17.381 11.6154C17.4317 11.4936 17.5061 11.383 17.5999 11.29L22.1899 6.71C22.2836 6.61704 22.358 6.50644 22.4088 6.38458C22.4595 6.26272 22.4857 6.13201 22.4857 6C22.4857 5.86799 22.4595 5.73728 22.4088 5.61542C22.358 5.49356 22.2836 5.38296 22.1899 5.29C22.0025 5.10375 21.749 4.99921 21.4849 4.99921C21.2207 4.99921 20.9672 5.10375 20.7799 5.29L16.1899 9.88001C15.6281 10.4425 15.3125 11.205 15.3125 12C15.3125 12.795 15.6281 13.5575 16.1899 14.12L20.7799 18.71C20.9661 18.8948 21.2175 18.9989 21.4799 19C21.6115 19.0008 21.7419 18.9756 21.8638 18.9258C21.9856 18.876 22.0964 18.8027 22.1899 18.71C22.2836 18.6171 22.358 18.5065 22.4088 18.3846C22.4595 18.2627 22.4857 18.132 22.4857 18C22.4857 17.868 22.4595 17.7373 22.4088 17.6154C22.358 17.4936 22.2836 17.383 22.1899 17.29L17.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.tui-is-disabled.tui-next {
  background-position: center;
  transform: rotate(180deg);

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5999 12.71C10.5061 12.617 10.4317 12.5064 10.381 12.3846C10.3302 12.2627 10.3041 12.132 10.3041 12C10.3041 11.868 10.3302 11.7373 10.381 11.6154C10.4317 11.4936 10.5061 11.383 10.5999 11.29L15.1899 6.71C15.2836 6.61704 15.358 6.50644 15.4088 6.38458C15.4595 6.26272 15.4857 6.13201 15.4857 6C15.4857 5.86799 15.4595 5.73728 15.4088 5.61542C15.358 5.49356 15.2836 5.38296 15.1899 5.29C15.0025 5.10375 14.749 4.99921 14.4849 4.99921C14.2207 4.99921 13.9672 5.10375 13.7799 5.29L9.18986 9.88001C8.62806 10.4425 8.3125 11.205 8.3125 12C8.3125 12.795 8.62806 13.5575 9.18986 14.12L13.7799 18.71C13.9661 18.8948 14.2175 18.9989 14.4799 19C14.6115 19.0008 14.7419 18.9756 14.8638 18.9258C14.9856 18.876 15.0964 18.8027 15.1899 18.71C15.2836 18.6171 15.358 18.5065 15.4088 18.3846C15.4595 18.2627 15.4857 18.132 15.4857 18C15.4857 17.868 15.4595 17.7373 15.4088 17.6154C15.358 17.4936 15.2836 17.383 15.1899 17.29L10.5999 12.71Z' fill='%23F8F8F8' fill-opacity='0.5'/%3E%3C/svg%3E ");
}
.tui-page-btn.tui-next-is-ellip,
.tui-page-btn.tui-prev-is-ellip {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .pag-container{
    padding-bottom: 80px;
  }
  .tui-pagination .tui-page-btn {
    width: 40px;
    height: 40px;
  }
  .margin-class,
  .tui-page-btn.tui-prev-is-ellip {
    margin-right: 8px;
  }
  .tui-next {
    margin-right: 4px;
    margin-left: 14px;
  }
  .tui-first {
    margin-right: 4px;
  }
  .tui-prev {
    margin-right: 14px;
  }

}

@media screen and (min-width: 768px) {
  .pag-container{
    padding-bottom: 100px;
  }
  .margin-class,
  .tui-page-btn.tui-prev-is-ellip {
    margin-right: 10px;
  }
  .tui-pagination .tui-next {
    margin-right: 8px;
    margin-left: 24px;
  }
  .tui-first {
    margin-right: 8px;
  }
  .tui-pagination .tui-prev {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  #pagination {
    margin-left: auto;
    margin-right: 154px;
  }
}
