@use './globals';

.recipe-cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;

  &.show-error-msg {
    margin-top: 180px;

    @media screen and (max-width: 767) {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 768) {
    gap: 16px;
  }

  @media screen and (min-width: 1280) {
    width: 782px;
  }
}

.recipe-card {
  position: relative;

  padding: 16px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-size: cover;
  background-position: center center;

  @media screen and (max-width: 767px) {
    width: 335px;
    height: 335px;
  }

  //tablet
  @media screen and (min-width: 768px) {
    width: 240px;
    height: 264px;
  }

  //desktop
  @media screen and (min-width: 1280px) {
    width: 250px;
    height: 287px;
  }
}

.recipe-card h2 {
  margin-bottom: 8px;

  color: $primery-background-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.recipe-card p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: $primery-background-color;

  font-size: 12px;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.favourite-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.5;
  fill: transparent;
  transition: opacity $typical-transition, fill $typical-transition;

  &:hover {
    opacity: 1;
    fill: $primery-background-color;
  }
}

.card-bottom__block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom__rating-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    gap: 2px;
  }
}

.rating-number {
  color: $primery-background-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  // line-height: 1.28;
}

.recipe-card_rating-stars-list {
  list-style: none;
  display: flex;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(248, 248, 248, 0.4);

  width: 18px;
  height: 18px;

  @media screen and (min-width: 768px) and (max-width: 1280) {
    width: 16px;
    height: 16px;
  }
}

.star.filled {
  fill: $stars-color;
  opacity: 1;
}

.see-recipe_button {
  display: flex;
  padding: 8px;

  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: $accent-color;
  border: none;

  color: $primery-background-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color $typical-transition;

  &:hover,
  &:focus {
    color: $primery-text-color;
  }

  @media screen and (min-width: 1280) {
    padding: 8px 16px;
  }
}

.main-section {
  display: flex;
  gap: 40px;
  flex-direction: column;

  //tablet
  @media screen and (min-width: 768) {
    gap: 32px;
    flex-direction: row;
  }

  //desktop
  @media screen and (min-width: 1280) {
    gap: 64px;
  }
}

.error-msg-title {
  color: rgba(5, 5, 5, 0.5);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.error-msg {
  color: rgba(5, 5, 5, 0.5);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
}
