@use './globals';

.order-now.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}
.inputs-styles {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.order-now-box {
  position: absolute;
  background-color: globals.$secondary-text-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 440px;
  height: 632px;
  border-radius: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.order-now-title {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order-now-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.order-input {
  resize: none;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  width: 360px;
  height: 48px;
  padding: 8px 10px 8px 12px;
  transition-property: outline;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.order-comment {
  width: 360px;
  height: 100px;
}

.now-form-btn {
  border-radius: 15px;
  background: $accent-color;
  padding: 14px 162px;
  border: none;
  color: $primery-background-color;
  margin-top: 40px;
}

.close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: $secondary-text-color;
  border: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><g stroke="%23050505" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M18 6 6 18M6 6l12 12"/></g></svg>');
}
