<section class="hero container">
  <div class="hero_section_content">
    <h1 class="hero_title">
      Learn to Cook <span class="hero_title_style">Tasty Treats'</span> Customizable Masterclass
    </h1>
    <p class="hero_text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
    <button class="hero_button" type="button">Order now</button>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper hero_section_slider"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
