<div class="modal-recipe-container" recipe-id="">
  <button id="modal-close-btn" class="close-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="close-icon"
    >
      <path d="M18 6L6 18M6 6l12 12"></path>
    </svg>
  </button>
  <h2 class="modal-card-name not-hidden-component">name</h2>
  <div class="modal-img-tumb">
    <img
      class="modal-img"
      srcset="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg"
      src="https://www.themealdb.com/images/media/meals/wurrux1468416624.jpg"
      alt="name"
    />
  </div>
  <!-- <iframe
    class="modal-iframe"
    src="https://www.youtube.com/embed/e52IL8zYmaE"
    height="295px"
    width="295px"
    frameborder="0"
    allowfullscreen
  ></iframe> -->

  <!-- <img class="modal-img" ${imgScrSet} src="" alt="" /> -->

  <h2 class="modal-card-name is-hidden-component">name</h2>
  <div class="modal-card-attributes">
    <ul class="modal-card-attributes-tags not-hidden-component">
      <li class="item-tags">tags</li>
    </ul>
  </div>

  <!-- <div class="modal-card">
    <h2 class="modal-card-movie-title">${title}</h2>
    <div class="modal-attributes">
      <ul class="modal-attributes-title-list">
        <li class="modal-card-title">Vote / Votes</li>
        <li class="modal-card-title">Popularity</li>
        <li class="modal-card-title">Genre</li>
      </ul>
      <ul class="modal-attributes-data-list">
        <li class="modal-card-data-average">
          <span class="modal-card-average">${Math.round( vote_average )}</span>/<span class="modal-card-count"
            >${vote_count}</span
          >
        </li>
        <li class="modal-card-data-get">${Number(popularity).toFixed()}</li>
        <li class="modal-card-data-get">${genres .map(({ name }) => name) .slice(0, 3) .join(', ')}</li>
      </ul>
    </div>
    <p class="modal-card-about">ABOUT</p>
    <p class="modal-card-about-descr">${overview}</p>

    <div class="modal-card-btn-wrap">
      <button type="button" class="modal-card-btn" film-id="${id}">Add to my library</button>
    </div>
  </div> -->
</div>

<div>
  <button class="button-click" style="height: 50px; width: 100px" name="6462a8f74c3d0ddd28897fc1"></button>
</div>
