<div class="backdrop" data-modal>
  <div class="modal">
    <div class="order-now wrapper">
      <div class="order-now-box">
        <button class="close-modal"></button>
        <h3 class="order-now-title">order now</h3>
        <form class="order-now-form" >
          <div class="inputs-styles">
            <label class="order-label" for="username"
              >Name&#42;
              <input class="order-input" autocomplete="on" type="text" id="username" name="username" autofocus/>
            </label>
            <label class="order-label" for="phone"
              >Phone number&#42;
              <input class="order-input" autocomplete="on" type="tel" name="phone_number" id="phone"/>
            </label>
            <label class="order-label" for="email"
              >Email&#42;
              <input class="order-input" autocomplete="on" type="email" name="email" id="email"/>
            </label>
            <label class="order-label label-comment" for="comment"
              >Comment
              <textarea class="order-input order-comment" type="textarea" name="comment" id="comment"></textarea>
            </label>
          </div>
          <button type="submit" class="now-form-btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
