<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a href="./index.html" class="header-link"><span class="current" id="home-link">Home</span></a>
        </li>
        <li class="header-item">
          <a href="./favorites.html" class="header-link" id="favorites-link">Favorites</a>
        </li>
      </ul>
    
    <a href="./index.html" class="logo">tasty<span class="header-logo">treats.</span></a> 
    <div class="btns-wrap"> 



  <button type="button" class="btn buy-btn btn-open-modal"> 
      <svg class="shopping-cart-icon" width="24" height="24">
          <use href="./images/svgs/header-icons.svg#icon-shopping-cart"></use>
      </svg>
  </button> 
    <button type="button" class="menu-open-btn js-open-menu" ><svg class="menu-open-icon" width="32" height="32">
      <use href="./images/svgs/header-icons.svg#icon-menu"></use>
    </svg></button> 
    <div class="toggle-switch hideBtn"> 
      <label class="switch">
        <input type="checkbox" class="js-toggle-btn">
        <span class="slider round"></span>
      </label>
    </div>
  </div>  

    </nav>
</div>
<div class="mobile-menu-backdrop js-menu-container">
<div class="mobile-menu">
    <div>
      <button type="button" class="close-btn menu-close-btn js-close-menu"><svg class="close-icon" width="32" height="32">
          <use href="./images/svgs/header-icons.svg#icon-x"></use>
        </svg></button>
      <nav>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a href="./index.html" class="mobile-menu-link"><span class="current" id="home-link-mobile">Home</span></a>
          </li>
          <li class="mobile-menu-item">
            <a href="./favorites.html" class="mobile-menu-link">Favorites</a>
          </li>
        </ul>
        <div class="toggle-switch-mobile"> 
          <label class="switch">
            <input type="checkbox" class="js-toggle-btn">
            <span class="slider round"></span>
          </label>
        </div>
      </div>  
      </nav>
    </div>
</div>    
</header>
