<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a href="./index.html" class="header-link" id="home-link">Home</a>
        </li>
        <li class="header-item">
          <a href="./favorites.html" class="header-link" id="favorites-link">Favorites</a>
        </li>
      </ul>
    
    <a href="./index.html" class="logo">tasty<span class="header-logo">treats.</span></a> 
    <div class="btns-wrap"> 
<!-- Базовый вариант кнопки-иконки-->
    <a href="tel:+830730000000" class="buy-btn"><svg class="shopping-cart-icon" width="24" height="24">
      <use href="./images/svgs/header-icons.svg#icon-shopping-cart"></use>
      </svg>
    </a>
<!-- Вариант кнопки-иконки для pop-up "Order now" -->
    <!-- <button type="button" class="buy-btn">
      <svg class="shopping-cart-icon" width="24" height="24">
          <use href="./images/svgs/header-icons.svg#icon-shopping-cart"></use>
      </svg>
  </button>  -->
    <button type="button" class="menu-open-btn js-open-menu" ><svg class="menu-open-icon" width="32" height="32">
      <use href="./images/svgs/header-icons.svg#icon-menu"></use>
    </svg></button> 
    <div class="toggle-switch"> 
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>  

    </nav>
</div>

<div class="mobile-menu js-menu-container" id="mobile-menu-list">
    <div>
      <button type="button" class="close-btn menu-close-btn js-close-menu"><svg class="close-icon" width="32" height="32">
          <use href="./images/svgs/header-icons.svg#icon-x"></use>
        </svg></button>
      <nav>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a href="./index.html" class="mobile-menu-link link">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a href="./favorites.html" class="mobile-menu-link link">Favorites</a>
          </li>
        </ul>
        <div class="toggle-switch-mobile"> 
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>  
      </nav>
    </div>
</header>
