<div class="backdrop is-hidden" data-modal>
  <div class="order-now-box">
    <button class="close-modal">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="close-icon">
        <path d="M18 6L6 18M6 6l12 12"></path>
      </svg>
    </button>
    <!-- <button class="close-modal"></button> -->
    <h3 class="order-now-title">order now</h3>
    <form class="order-now-form">
      <div class="inputs-styles">
        <label class="order-label" for="username"
          >Name&#42;
          <input
            required
            placeholder=""
            class="order-input"
            autocomplete="on"
            type="text"
            id="username"
            name="username"
            autofocus
          />
        </label>
        <label class="order-label" for="phone"
          >Phone number&#42;
          <input
            required
            placeholder=""
            class="order-input"
            autocomplete="on"
            type="tel"
            name="phone_number"
            id="phone"
          />
        </label>
        <label class="order-label" for="email"
          >Email&#42;
          <input required placeholder="" class="order-input" autocomplete="on" type="email" name="email" id="email" />
        </label>
        <label class="order-label label-comment" for="comment"
          >Comment
          <textarea
            placeholder=" "
            class="order-input order-comment"
            name="comment"
            id="comment"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="now-form-btn">Send</button>
    </form>
  </div>
</div>
